Current Time.json
[
    {
        "id": "05292ea072a67f33",
        "type": "tab",
        "label": "Current Time",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "country-dropdown",
        "type": "ui_dropdown",
        "z": "05292ea072a67f33",
        "name": "Select Country",
        "label": "Country",
        "tooltip": "",
        "place": "Select a country",
        "group": "e00a26030ebfb59f",
        "width": "",
        "height": "",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Afghanistan",
                "value": "Asia/Kabul",
                "type": "str"
            },
            {
                "label": "Albania",
                "value": "Europe/Tirane",
                "type": "str"
            },
            {
                "label": "Algeria",
                "value": "Africa/Algiers",
                "type": "str"
            },
            {
                "label": "American Samoa",
                "value": "Pacific/Pago_Pago",
                "type": "str"
            },
            {
                "label": "Andorra",
                "value": "Europe/Andorra",
                "type": "str"
            },
            {
                "label": "Angola",
                "value": "Africa/Luanda",
                "type": "str"
            },
            {
                "label": "Anguilla",
                "value": "America/Anguilla",
                "type": "str"
            },
            {
                "label": "Antarctica",
                "value": "Antarctica/Casey",
                "type": "str"
            },
            {
                "label": "Antigua and Barbuda",
                "value": "America/Antigua",
                "type": "str"
            },
            {
                "label": "Argentina",
                "value": "America/Argentina/Buenos_Aires",
                "type": "str"
            },
            {
                "label": "Armenia",
                "value": "Asia/Yerevan",
                "type": "str"
            },
            {
                "label": "Aruba",
                "value": "America/Aruba",
                "type": "str"
            },
            {
                "label": "Australia",
                "value": "Australia/Sydney",
                "type": "str"
            },
            {
                "label": "Austria",
                "value": "Europe/Vienna",
                "type": "str"
            },
            {
                "label": "Azerbaijan",
                "value": "Asia/Baku",
                "type": "str"
            },
            {
                "label": "Bahamas",
                "value": "America/Nassau",
                "type": "str"
            },
            {
                "label": "Bahrain",
                "value": "Asia/Bahrain",
                "type": "str"
            },
            {
                "label": "Bangladesh",
                "value": "Asia/Dhaka",
                "type": "str"
            },
            {
                "label": "Barbados",
                "value": "America/Barbados",
                "type": "str"
            },
            {
                "label": "Belarus",
                "value": "Europe/Minsk",
                "type": "str"
            },
            {
                "label": "Belgium",
                "value": "Europe/Brussels",
                "type": "str"
            },
            {
                "label": "Belize",
                "value": "America/Belize",
                "type": "str"
            },
            {
                "label": "Benin",
                "value": "Africa/Porto-Novo",
                "type": "str"
            },
            {
                "label": "Bermuda",
                "value": "Atlantic/Bermuda",
                "type": "str"
            },
            {
                "label": "Bhutan",
                "value": "Asia/Thimphu",
                "type": "str"
            },
            {
                "label": "Bolivia",
                "value": "America/La_Paz",
                "type": "str"
            },
            {
                "label": "Bonaire",
                "value": "America/Kralendijk",
                "type": "str"
            },
            {
                "label": "Bosnia and Herzegovina",
                "value": "Europe/Sarajevo",
                "type": "str"
            },
            {
                "label": "Botswana",
                "value": "Africa/Gaborone",
                "type": "str"
            },
            {
                "label": "Brazil",
                "value": "America/Sao_Paulo",
                "type": "str"
            },
            {
                "label": "Brunei",
                "value": "Asia/Brunei",
                "type": "str"
            },
            {
                "label": "Bulgaria",
                "value": "Europe/Sofia",
                "type": "str"
            },
            {
                "label": "Burkina Faso",
                "value": "Africa/Ouagadougou",
                "type": "str"
            },
            {
                "label": "Burundi",
                "value": "Africa/Bujumbura",
                "type": "str"
            },
            {
                "label": "Cambodia",
                "value": "Asia/Phnom_Penh",
                "type": "str"
            },
            {
                "label": "Cameroon",
                "value": "Africa/Douala",
                "type": "str"
            },
            {
                "label": "Canada",
                "value": "America/Toronto",
                "type": "str"
            },
            {
                "label": "Cape Verde",
                "value": "Atlantic/Cape_Verde",
                "type": "str"
            },
            {
                "label": "Cayman Islands",
                "value": "America/Cayman",
                "type": "str"
            },
            {
                "label": "Central African Republic",
                "value": "Africa/Bangui",
                "type": "str"
            },
            {
                "label": "Chad",
                "value": "Africa/Ndjamena",
                "type": "str"
            },
            {
                "label": "Chile",
                "value": "America/Santiago",
                "type": "str"
            },
            {
                "label": "China",
                "value": "Asia/Shanghai",
                "type": "str"
            },
            {
                "label": "Colombia",
                "value": "America/Bogota",
                "type": "str"
            },
            {
                "label": "Comoros",
                "value": "Indian/Comoro",
                "type": "str"
            },
            {
                "label": "Congo",
                "value": "Africa/Brazzaville",
                "type": "str"
            },
            {
                "label": "Congo, the Democratic Republic of the",
                "value": "Africa/Kinshasa",
                "type": "str"
            },
            {
                "label": "Costa Rica",
                "value": "America/Costa_Rica",
                "type": "str"
            },
            {
                "label": "Croatia",
                "value": "Europe/Zagreb",
                "type": "str"
            },
            {
                "label": "Cuba",
                "value": "America/Havana",
                "type": "str"
            },
            {
                "label": "Curaçao",
                "value": "America/Curacao",
                "type": "str"
            },
            {
                "label": "Cyprus",
                "value": "Asia/Nicosia",
                "type": "str"
            },
            {
                "label": "Czech Republic",
                "value": "Europe/Prague",
                "type": "str"
            },
            {
                "label": "Denmark",
                "value": "Europe/Copenhagen",
                "type": "str"
            },
            {
                "label": "Djibouti",
                "value": "Africa/Djibouti",
                "type": "str"
            },
            {
                "label": "Dominica",
                "value": "America/Dominica",
                "type": "str"
            },
            {
                "label": "Dominican Republic",
                "value": "America/Santo_Domingo",
                "type": "str"
            },
            {
                "label": "Ecuador",
                "value": "America/Guayaquil",
                "type": "str"
            },
            {
                "label": "Egypt",
                "value": "Africa/Cairo",
                "type": "str"
            },
            {
                "label": "El Salvador",
                "value": "America/El_Salvador",
                "type": "str"
            },
            {
                "label": "Equatorial Guinea",
                "value": "Africa/Malabo",
                "type": "str"
            },
            {
                "label": "Eritrea",
                "value": "Africa/Asmara",
                "type": "str"
            },
            {
                "label": "Estonia",
                "value": "Europe/Tallinn",
                "type": "str"
            },
            {
                "label": "Ethiopia",
                "value": "Africa/Addis_Ababa",
                "type": "str"
            },
            {
                "label": "Fiji",
                "value": "Pacific/Fiji",
                "type": "str"
            },
            {
                "label": "Finland",
                "value": "Europe/Helsinki",
                "type": "str"
            },
            {
                "label": "France",
                "value": "Europe/Paris",
                "type": "str"
            },
            {
                "label": "Gabon",
                "value": "Africa/Libreville",
                "type": "str"
            },
            {
                "label": "Gambia",
                "value": "Africa/Banjul",
                "type": "str"
            },
            {
                "label": "Georgia",
                "value": "Asia/Tbilisi",
                "type": "str"
            },
            {
                "label": "Germany",
                "value": "Europe/Berlin",
                "type": "str"
            },
            {
                "label": "Ghana",
                "value": "Africa/Accra",
                "type": "str"
            },
            {
                "label": "Gibraltar",
                "value": "Europe/Gibraltar",
                "type": "str"
            },
            {
                "label": "Greece",
                "value": "Europe/Athens",
                "type": "str"
            },
            {
                "label": "Grenada",
                "value": "America/Grenada",
                "type": "str"
            },
            {
                "label": "Guadeloupe",
                "value": "America/Guadeloupe",
                "type": "str"
            },
            {
                "label": "Guam",
                "value": "Pacific/Guam",
                "type": "str"
            },
            {
                "label": "Guatemala",
                "value": "America/Guatemala",
                "type": "str"
            },
            {
                "label": "Guinea",
                "value": "Africa/Conakry",
                "type": "str"
            },
            {
                "label": "Guinea-Bissau",
                "value": "Africa/Bissau",
                "type": "str"
            },
            {
                "label": "Guyana",
                "value": "America/Guyana",
                "type": "str"
            },
            {
                "label": "Haiti",
                "value": "America/Port-au-Prince",
                "type": "str"
            },
            {
                "label": "Honduras",
                "value": "America/Tegucigalpa",
                "type": "str"
            },
            {
                "label": "Hong Kong",
                "value": "Asia/Hong_Kong",
                "type": "str"
            },
            {
                "label": "Hungary",
                "value": "Europe/Budapest",
                "type": "str"
            },
            {
                "label": "Iceland",
                "value": "Atlantic/Reykjavik",
                "type": "str"
            },
            {
                "label": "India",
                "value": "Asia/Kolkata",
                "type": "str"
            },
            {
                "label": "Indonesia",
                "value": "Asia/Jakarta",
                "type": "str"
            },
            {
                "label": "Iran",
                "value": "Asia/Tehran",
                "type": "str"
            },
            {
                "label": "Iraq",
                "value": "Asia/Baghdad",
                "type": "str"
            },
            {
                "label": "Ireland",
                "value": "Europe/Dublin",
                "type": "str"
            },
            {
                "label": "Israel",
                "value": "Asia/Jerusalem",
                "type": "str"
            },
            {
                "label": "Italy",
                "value": "Europe/Rome",
                "type": "str"
            },
            {
                "label": "Jamaica",
                "value": "America/Jamaica",
                "type": "str"
            },
            {
                "label": "Japan",
                "value": "Asia/Tokyo",
                "type": "str"
            },
            {
                "label": "Jordan",
                "value": "Asia/Amman",
                "type": "str"
            },
            {
                "label": "Kazakhstan",
                "value": "Asia/Almaty",
                "type": "str"
            },
            {
                "label": "Kenya",
                "value": "Africa/Nairobi",
                "type": "str"
            },
            {
                "label": "Kuwait",
                "value": "Asia/Kuwait",
                "type": "str"
            },
            {
                "label": "Kyrgyzstan",
                "value": "Asia/Bishkek",
                "type": "str"
            },
            {
                "label": "Lao People's Democratic Republic",
                "value": "Asia/Vientiane",
                "type": "str"
            },
            {
                "label": "Latvia",
                "value": "Europe/Riga",
                "type": "str"
            },
            {
                "label": "Lebanon",
                "value": "Asia/Beirut",
                "type": "str"
            },
            {
                "label": "Lesotho",
                "value": "Africa/Maseru",
                "type": "str"
            },
            {
                "label": "Liberia",
                "value": "Africa/Monrovia",
                "type": "str"
            },
            {
                "label": "Libya",
                "value": "Africa/Tripoli",
                "type": "str"
            },
            {
                "label": "Lithuania",
                "value": "Europe/Vilnius",
                "type": "str"
            },
            {
                "label": "Luxembourg",
                "value": "Europe/Luxembourg",
                "type": "str"
            },
            {
                "label": "Macao",
                "value": "Asia/Macau",
                "type": "str"
            },
            {
                "label": "Malaysia",
                "value": "Asia/Kuala_Lumpur",
                "type": "str"
            },
            {
                "label": "Maldives",
                "value": "Indian/Maldives",
                "type": "str"
            },
            {
                "label": "Mali",
                "value": "Africa/Bamako",
                "type": "str"
            },
            {
                "label": "Malta",
                "value": "Europe/Malta",
                "type": "str"
            },
            {
                "label": "Marshall Islands",
                "value": "Pacific/Majuro",
                "type": "str"
            },
            {
                "label": "Martinique",
                "value": "America/Martinique",
                "type": "str"
            },
            {
                "label": "Mauritania",
                "value": "Africa/Nouakchott",
                "type": "str"
            },
            {
                "label": "Mauritius",
                "value": "Indian/Mauritius",
                "type": "str"
            },
            {
                "label": "Mexico",
                "value": "America/Mexico_City",
                "type": "str"
            },
            {
                "label": "Moldova",
                "value": "Europe/Chisinau",
                "type": "str"
            },
            {
                "label": "Monaco",
                "value": "Europe/Monaco",
                "type": "str"
            },
            {
                "label": "Mongolia",
                "value": "Asia/Ulaanbaatar",
                "type": "str"
            },
            {
                "label": "Montenegro",
                "value": "Europe/Podgorica",
                "type": "str"
            },
            {
                "label": "Morocco",
                "value": "Africa/Casablanca",
                "type": "str"
            },
            {
                "label": "Mozambique",
                "value": "Africa/Maputo",
                "type": "str"
            },
            {
                "label": "Myanmar",
                "value": "Asia/Yangon",
                "type": "str"
            },
            {
                "label": "Namibia",
                "value": "Africa/Windhoek",
                "type": "str"
            },
            {
                "label": "Nepal",
                "value": "Asia/Kathmandu",
                "type": "str"
            },
            {
                "label": "Netherlands",
                "value": "Europe/Amsterdam",
                "type": "str"
            },
            {
                "label": "New Zealand",
                "value": "Pacific/Auckland",
                "type": "str"
            },
            {
                "label": "Nicaragua",
                "value": "America/Managua",
                "type": "str"
            },
            {
                "label": "Niger",
                "value": "Africa/Niamey",
                "type": "str"
            },
            {
                "label": "Nigeria",
                "value": "Africa/Lagos",
                "type": "str"
            },
            {
                "label": "North Korea",
                "value": "Asia/Pyongyang",
                "type": "str"
            },
            {
                "label": "Norway",
                "value": "Europe/Oslo",
                "type": "str"
            },
            {
                "label": "Oman",
                "value": "Asia/Muscat",
                "type": "str"
            },
            {
                "label": "Pakistan",
                "value": "Asia/Karachi",
                "type": "str"
            },
            {
                "label": "Palau",
                "value": "Pacific/Palau",
                "type": "str"
            },
            {
                "label": "Panama",
                "value": "America/Panama",
                "type": "str"
            },
            {
                "label": "Papua New Guinea",
                "value": "Pacific/Port_Moresby",
                "type": "str"
            },
            {
                "label": "Paraguay",
                "value": "America/Asuncion",
                "type": "str"
            },
            {
                "label": "Peru",
                "value": "America/Lima",
                "type": "str"
            },
            {
                "label": "Philippines",
                "value": "Asia/Manila",
                "type": "str"
            },
            {
                "label": "Poland",
                "value": "Europe/Warsaw",
                "type": "str"
            },
            {
                "label": "Portugal",
                "value": "Europe/Lisbon",
                "type": "str"
            },
            {
                "label": "Puerto Rico",
                "value": "America/Puerto_Rico",
                "type": "str"
            },
            {
                "label": "Qatar",
                "value": "Asia/Qatar",
                "type": "str"
            },
            {
                "label": "Romania",
                "value": "Europe/Bucharest",
                "type": "str"
            },
            {
                "label": "Russia",
                "value": "Europe/Moscow",
                "type": "str"
            },
            {
                "label": "Rwanda",
                "value": "Africa/Kigali",
                "type": "str"
            },
            {
                "label": "Saudi Arabia",
                "value": "Asia/Riyadh",
                "type": "str"
            },
            {
                "label": "Senegal",
                "value": "Africa/Dakar",
                "type": "str"
            },
            {
                "label": "Serbia",
                "value": "Europe/Belgrade",
                "type": "str"
            },
            {
                "label": "Seychelles",
                "value": "Indian/Mahe",
                "type": "str"
            },
            {
                "label": "Singapore",
                "value": "Asia/Singapore",
                "type": "str"
            },
            {
                "label": "Slovakia",
                "value": "Europe/Bratislava",
                "type": "str"
            },
            {
                "label": "Slovenia",
                "value": "Europe/Ljubljana",
                "type": "str"
            },
            {
                "label": "Somalia",
                "value": "Africa/Mogadishu",
                "type": "str"
            },
            {
                "label": "South Africa",
                "value": "Africa/Johannesburg",
                "type": "str"
            },
            {
                "label": "South Korea",
                "value": "Asia/Seoul",
                "type": "str"
            },
            {
                "label": "Spain",
                "value": "Europe/Madrid",
                "type": "str"
            },
            {
                "label": "Sri Lanka",
                "value": "Asia/Colombo",
                "type": "str"
            },
            {
                "label": "Sudan",
                "value": "Africa/Khartoum",
                "type": "str"
            },
            {
                "label": "Suriname",
                "value": "America/Paramaribo",
                "type": "str"
            },
            {
                "label": "Sweden",
                "value": "Europe/Stockholm",
                "type": "str"
            },
            {
                "label": "Switzerland",
                "value": "Europe/Zurich",
                "type": "str"
            },
            {
                "label": "Syrian Arab Republic",
                "value": "Asia/Damascus",
                "type": "str"
            },
            {
                "label": "Taiwan",
                "value": "Asia/Taipei",
                "type": "str"
            },
            {
                "label": "Tajikistan",
                "value": "Asia/Dushanbe",
                "type": "str"
            },
            {
                "label": "Tanzania",
                "value": "Africa/Dar_es_Salaam",
                "type": "str"
            },
            {
                "label": "Thailand",
                "value": "Asia/Bangkok",
                "type": "str"
            },
            {
                "label": "Timor-Leste",
                "value": "Asia/Dili",
                "type": "str"
            },
            {
                "label": "Togo",
                "value": "Africa/Lome",
                "type": "str"
            },
            {
                "label": "Trinidad and Tobago",
                "value": "America/Port_of_Spain",
                "type": "str"
            },
            {
                "label": "Tunisia",
                "value": "Africa/Tunis",
                "type": "str"
            },
            {
                "label": "Turkey",
                "value": "Europe/Istanbul",
                "type": "str"
            },
            {
                "label": "Turkmenistan",
                "value": "Asia/Ashgabat",
                "type": "str"
            },
            {
                "label": "Tuvalu",
                "value": "Pacific/Funafuti",
                "type": "str"
            },
            {
                "label": "Uganda",
                "value": "Africa/Kampala",
                "type": "str"
            },
            {
                "label": "Ukraine",
                "value": "Europe/Kiev",
                "type": "str"
            },
            {
                "label": "United Arab Emirates",
                "value": "Asia/Dubai",
                "type": "str"
            },
            {
                "label": "United Kingdom",
                "value": "Europe/London",
                "type": "str"
            },
            {
                "label": "United States",
                "value": "America/New_York",
                "type": "str"
            },
            {
                "label": "Uruguay",
                "value": "America/Montevideo",
                "type": "str"
            },
            {
                "label": "Uzbekistan",
                "value": "Asia/Tashkent",
                "type": "str"
            },
            {
                "label": "Vanuatu",
                "value": "Pacific/Efate",
                "type": "str"
            },
            {
                "label": "Venezuela",
                "value": "America/Caracas",
                "type": "str"
            },
            {
                "label": "Vietnam",
                "value": "Asia/Ho_Chi_Minh",
                "type": "str"
            },
            {
                "label": "Yemen",
                "value": "Asia/Aden",
                "type": "str"
            },
            {
                "label": "Zambia",
                "value": "Africa/Lusaka",
                "type": "str"
            },
            {
                "label": "Zimbabwe",
                "value": "Africa/Harare",
                "type": "str"
            },
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "timezone-function"
            ]
        ]
    },
    {
        "id": "timezone-function",
        "type": "function",
        "z": "05292ea072a67f33",
        "name": "Map TimeZone",
        "func": "// Replace the 'msg.zone' with the zone that the user selects\nlet selectedZone = msg.payload;\n\n// Construct the API URL\nlet apiKey = \"ZDR9FU8IAY42\"; // Your API key\nlet apiURL = `https://api.timezonedb.com/v2.1/get-time-zone?key=${apiKey}&format=json&by=zone&zone=${selectedZone}`;\n\n// Set up the HTTP request parameters\nmsg.url = apiURL;    // API URL\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 160,
        "wires": [
            [
                "http-request"
            ]
        ]
    },
    {
        "id": "http-request",
        "type": "http request",
        "z": "05292ea072a67f33",
        "name": "Get Time",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 520,
        "y": 160,
        "wires": [
            [
                "079efbb38527673b"
            ]
        ]
    },
    {
        "id": "079efbb38527673b",
        "type": "function",
        "z": "05292ea072a67f33",
        "name": "EDIT TIME ZONE",
        "func": "msg.payload = {\n    currentTime: msg.payload.formatted,    \n    country: msg.payload.countryName,\n    countrycode: msg.payload.countryCode,      \n    zone: msg.payload.zoneName,            \n    abbreviation: msg.payload.abbreviation, \n    Greenwichmeantime: msg.payload.gmtOffset,      \n    Daylightsavingtime: msg.payload.dst,               \n    zoneStart:msg.payload.zoneStart,          \n    zoneEnd:msg.payload.zoneEnd,                 \n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 160,
        "wires": [
            [
                "21a5da632994d214"
            ]
        ]
    },
    {
        "id": "21a5da632994d214",
        "type": "ui_template",
        "z": "05292ea072a67f33",
        "group": "e00a26030ebfb59f",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div>\n<p>Current Time: {{msg.payload.currentTime}}</p>\n<p>Country: {{msg.payload.country}}</p>\n<p>country code:{{msg.payload.countrycode}}</p>\n<p>Time zone: {{msg.payload.zone}}</p>\n<p>Abbreviation: {{msg.payload.abbreviation}}</p>\n<p>Greenwich mean time (seconds): {{msg.payload.Greenwichmeantime}}</p>\n<p>Daylight Saving Time: {{msg.payload.Daylightsavingtime}}</p>\n<p>Zone Start: {{msg.payload.zoneStart}}</p>\n<p>Zone End: {{msg.payload.zoneEnd}}</p>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 920,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "e00a26030ebfb59f",
        "type": "ui_group",
        "name": "current time display",
        "tab": "0e86661e92f847b6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "0e86661e92f847b6",
        "type": "ui_tab",
        "name": "Time",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]